
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	border: 1px solid grey;
}

tr:nth-child(even) {
	background: #CCC
}

tr:nth-child(odd) {
	background: #EEE
}